<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Documents</ion-title>
    <ion-buttons end>
        <button (click)="goToHome()">
            <ion-icon name="home"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let document of listDocuments" (click)="goToDocumentDetails(document)">
            <h2>{{document.Title}}</h2>
        </button>
    </ion-list>
</ion-content>
