<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sub-Topics</ion-title>
    <ion-buttons end>
        <button (click)="goToHome()">
            <ion-icon name="home"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let tag of listTags" (click)="goToCurrentDocuments(tag)">
            <h2>{{tag.Item.Label}}</h2>
        </button>
    </ion-list>
</ion-content>
